
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PrimeVue + CDN</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/primevue/umd/primevue.min.js"></script>
    <script src="https://unpkg.com/@primevue/themes/umd/aura.min.js"></script>

    <div id="app">
			<p-inputtext type="text" v-model="login" ></p-inputtext>
			<p-inputtext type="text" v-model="pass" ></p-inputtext>
			<p-button label="Submit" @click="getTokens()"></p-button>
      Users:
			<div v-for="(user, index) in users" :key="'users-'+index">
				{{user.login}}
			</div>
    </div>

    <script>
      const { createApp, ref, onMounted } = Vue;

      const app = createApp({
        setup() {
          const date = ref();
					const user = ref({
						login: '',
						access: '',
						refresh: ''
					})
					const login = ref();
					const pass = ref();
					const users = ref([]);
					const pending = ref({
						login: false
					});
					const instance = axios.create({
						baseURL: 'https://api.kundelik.kz/',
						timeout: 1000,
					});
					const storageUsers = ()=> {
						console.log('users', users.value)
						localStorage.setItem('users', JSON.stringify(users.value));
					}
					const getTokens = async (callback)=> {
						try {
							const data = await instance.post('mobile/v7/authorizations/bycredentials', {"password":pass.value,"scope":"commoninfo,friendsandrelatives,educationalinfo","clientId":"387D44E3-E0C9-4265-A9E4-A4CAAAD5111C","clientSecret":"8A7D709C-FDBB-4047-B0EA-8947AFE89D67","username":login.value})

							pending.value.login = false
							//this.config = data.data
							console.log('data', data.data)
							users.value.push({
								login: login.value,
								access: data.data.credentials.accessToken,
								refresh: data.data.credentials.refreshToken,
								exp: data.data.credentials.expiresDate,
								id: data.data.credentials.userId
							})
							console.log('users', users.value)
							storageUsers();
							console.log(data.data)
							callback && callback();
							
						} catch (error) {
							if (error.response) {
								pending.value.login = false
								console.log(error.response.data.description);
							}
						}
					}
					const getUsers = ()=> {
						users.value = JSON.parse(localStorage.getItem('users'));
						console.log('users',users.value)
						
					}
					const selectUser = ()=> {
						
					}
					onMounted(()=>{
						getUsers()
					})
					
          return {
            date,
						login,
						pass,
						getTokens,
						pending,
						users
          };
        },
      });

      app.use(PrimeVue.Config, {
        theme: {
            preset: PrimeVue.Themes.Aura
        }
      });

			app.component('p-inputtext', PrimeVue.InputText)
					.component('p-button', PrimeVue.Button);

      app.mount('#app');
    </script>
  </body>
</html>
