<!DOCTYPE html>
<html lang="en">

<head>
	<title>Кунделик</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
</head>

<body>
	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/dayjs@1/locale/ru.js"></script>
	<!--<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>-->
	<script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.tailwindcss.com"></script>
	<script src="https://unpkg.com/primevue/umd/primevue.min.js"></script>
	<script src="https://unpkg.com/@primevue/themes/umd/aura.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/primeicons/7.0.0/primeicons.min.css" integrity="sha512-AmPkAwXBnEkMWvc+V9PvjVgFmJWB3HKMSgBJolV4LMXwAwoFTAlk5WY1yiz504VynFGQLwiLVp/JqlcWxAEmJw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<div id="app">
		<div class="flex items-center px-1 w-full">
			<p-button @click="addUserDialog = true" icon="pi pi-plus" rounded class="flex-none my-1" size="small"></p-button>
			<p-tabs v-if="users.length > 0" :value="0" scrollable style="width: calc(100% - 40px);">
				<p-tablist>
					<p-tab v-for="(user, index) in users" :key="'users-'+index" :value="index" @click="selectUser(index)">
						{{ user.shortName}}, {{user.eduGroups[0].name }}
					</p-tab>
				</p-tablist>
			</p-tabs>
		</div>
		
		<hr class="mb-1">

		<template v-if="selectedUser">
			<div class="flex flex-wrap px-4 sticky top-0 bg-white z-10">
				<div class="mr-auto">
					<template v-if="pending.login">привзяка ученика...</template>
					<template v-if="pending.userInfo">получение информации об ученике...</template>
					<template v-if="pending.shedule || pending.homeworks">получение расписания...</template>
				</div>
				<div class="ml-auto">
					<span class="mr-2">
						<template v-if="hasBadMark"><span class="line-through mr-1">{{summ}}</span>0</template>
						<template v-else>{{summ}}</template>
					</span>
					<p-button icon="pi pi-arrow-left" severity="secondary" size="small" @click="prevWeek()"></p-button>
					{{formatDate(week[0])}} - {{formatDate(week[1])}}
					<p-button icon="pi pi-arrow-right" severity="secondary" size="small" @click="nextWeek()"></p-button>
				</div>
			</div>
			<hr class="mt-1 mb-4">
			
			<div v-if="shedule">
				<swiper-container slides-per-view="auto" space-between="30" free-mode-enabled="true" free-mode-sticky="true" >
					<swiper-slide v-for="(day, index) in shedule" :key="'day-'+index" class="w-auto h-auto mb-1">
						<p-card class="w-72 h-full">
							<template #content>
								{{day.date}}
								<br>
								<div >
									<div v-for="(lesson, index) in day.lessons" :key="'lesson-'+index" class="mb-3">
										<div v-if="lesson" class="flex items-start">
											<div class="mr-1">
												<strong class="inline-block">{{lesson.number}}. {{lesson.subject}}</strong> 
												<div class="inline-block ml-2 mb-1 text-xs">{{lesson.hours}}, {{lesson.place}}</div>
												<div class="mb-1 text-xs">{{lesson.theme}}</div>
												<div v-if="lesson.homeworks" class="bg-gray-100 rounded-md px-1">
													<div v-for="(homework, index) in lesson.homeworks" :key="'homework-'+index" class="p-1 mb-1">
														{{homework.text}}
														<div v-if="homework.files">
															<a v-for="(file, index2) in homework.files" :key="'file-'+index2" :href="file.downloadUrl" target="_blank">
																<p-badge :value="file.name + ' ' + file.type" severity="info"></p-badge>
															</a>
														</div>
													</div>
												</div>
											</div>
											<div v-if="lesson.marks" class="text-white font-semibold text-xs text-center">
												<div v-for="(mark, index) in lesson.marks" :key="'mark-'+index" class="p-1 mb-1  w-6 h-6  rounded-md" :class="{'bg-green-600': mark.mood === 'Good', 'bg-yellow-600': mark.mood === 'Average', 'bg-red-600': mark.mood === 'Bad'}">{{mark.text}}</div>
											</div>
										</div>
									</div>
								</div>
							</template>
						</p-card>
					</swiper-slide>
				</swiper-container>
				
			</div>
		</template>
		<p-dialog v-model:visible="addUserDialog" modal header="Добавить ученика" :style="{ width: '25rem' }">
			<form action="">
				<div class="flex items-center gap-4 mb-8">
					<label for="login" class="font-semibold w-24">Логин</label>
					<p-inputtext v-model="login" id="login" class="flex-auto" autocomplete="on" />
				</div>
				<div class="flex items-center gap-4 mb-6">
					<label for="password" class="font-semibold w-24">Пароль</label>
					<p-password v-model="pass" id="password" toggle-mask :feedback="false" class="flex-auto" />
				</div>
				<p-message severity="error" v-if="errors.loginOrPass"class="mb-4" >Неверный логин или пароль</p-message>
				<div class="flex justify-end gap-2">
					<p-button label="Добавить" @click="getTokens()"></p-button>
					<p-button type="button" label="Отмена" @click="addUserDialog = false"></p-button>
				</div>
			</form>
		</p-dialog>
	</div>

	<script>
		
		const {
			createApp,
			ref,
			onMounted,
			onBeforeMount,
			watch,
			computed
		} = Vue;

		const app = createApp({
			setup() {
				const date = ref();
				const selectedUser = ref();
				const user = ref();
				const cId = ref('387D44E3-E0C9-4265-A9E4-A4CAAAD5111C');
				const cSecret = ref('8A7D709C-FDBB-4047-B0EA-8947AFE89D67');
				const login = ref();
				const pass = ref();
				const users = ref([]);
				const pending = ref({
					login: false,
					userInfo: false,
					homeworks: false,
					shedule: false
				});
				const errors = ref({
					loginOrPass: false,
				});
				const homeworksData= ref(null);
				const sheduleData = ref(null);
				const monday = ref(null);
				const addUserDialog = ref(false);
				const week = computed(() => {
					if(monday.value === null) return [];
					return [monday.value, dayjs(monday.value).add(6, 'day').toDate()]
				})
				const hasBadMark = ref(false);
				const summ = computed(() => {
					const prices = {
						Good: +150,
						Average: -50,
						Bad: 0
					}
					let avgCount = 0;
					let goodCount = 0;
					if(sheduleData.value === null) return [];
					let summ = sheduleData.value.days.flatMap(day => {
						return day.marks.map(mark => {
							if(mark.mood === 'Bad') hasBadMark.value = true
							if(mark.mood === 'Average') avgCount++;
							if(mark.mood === 'Good') goodCount++;
							return prices[mark.mood]
						})
					})
					summ = summ.reduce((a, b) => a + b, 0);
					if(avgCount === 0) {
						if(goodCount >3) {
							summ += 150
						} else if(goodCount > 5) {
							summ += 250
						}
					}
					console.log('summ',summ)
					return summ
					
				})
				const shedule = computed(() => {
					if(sheduleData.value === null) return [];
					let shedule = [];
					sheduleData.value.days.forEach(day => {
						const lessons = day.lessons.map(lesson => {
							const startTime = lesson.hours.split(' ')[0].split(':');
							return {
								subject : getSubjectName(day.subjects, lesson.subjectId),
								number : lesson.number,
								theme : lesson.title,
								building : lesson.building,
								place : lesson.place,
								floor : lesson.floor,
								hours : lesson.hours,
								startDate:dayjs(day.date).add(startTime[0], 'hour').add(startTime[1], 'minute').toDate(),
								homeworks: getHomeWorksBySubjectAndDate(lesson.subjectId, day.date),
								marks: day.marks.filter(mark => {
									const works = day.works.filter(work => lesson.subjectId === work.subjectId).map(work => work.id_str)
									return works.includes(mark.work_str)
								}).map(mark => {
									return {mood:mark.mood,text:mark.textValue}
								})
							}
						}).sort((a, b) => a.startDate - b.startDate);
						
						shedule.push({
							date:dayjs(day.date).locale('ru').format('DD.MM.YYYY dd'),
							lessons:lessons
						})
					})
					console.log('shedule',shedule)
					return shedule
				})

				const instance = axios.create({
					baseURL: 'https://api.kundelik.kz/'
				});
				const storageUsers = () => {
					console.log('users', users.value)
					localStorage.setItem('users', JSON.stringify(users.value));
				}
				const storageLastSelected = () => {
					localStorage.setItem('lastSelected', JSON.stringify(selectedUser.value.login));
				}
				const getLastSelected = async () => {
					return JSON.parse(localStorage.getItem('lastSelected'));
				}
				const getTokens = async (callback) => {
					if (users && findUser(login.value)) {
						addUserDialog.value = false
						return
					}
					pending.value.login = true
					errors.value.loginOrPass = false
					try {
						instance.defaults.headers.common['Access-Token'] = '';
						const data = await instance.post('mobile/v7/authorizations/bycredentials', {
							"password": pass.value,
							"scope": "commoninfo,friendsandrelatives,educationalinfo",
							"clientId": cId.value,
							"clientSecret": cSecret.value,
							"username": login.value
						})

						pending.value.login = false
						if(data.data.type === 'Error'){
							if(data.data.description === 'Пайдаланушы аты немесе құпиясөзде қате бар. Өрістердің дұрыс толтырылуын тексеріңіз.'){
								errors.value.loginOrPass = true
								return;
							}
						}
						let userObj = {
							login: login.value,
							pass: pass.value,
							access: data.data.credentials.accessToken,
							//refresh: data.data.credentials.refreshToken,
							exp: data.data.credentials.expiresDate,
							id: data.data.credentials.userId
						};
						console.log('user', userObj)
						instance.defaults.headers.common['Access-Token'] = userObj.access;
						const userInfo = await getUserInfo(userObj.id);
						if (userInfo) {
							console.log('userInfo', userInfo)
							users.value.push(Object.assign(userObj, userInfo))
							console.log('users.value', users.value)
							storageUsers();
							addUserDialog.value = false
							callback && callback();

						}


					} catch (error) {
						if (error.response) {
							pending.value.login = false
							console.log(error.response.data.description);
						}
					}
				}
				const refreshToken = async (user) => {
					console.log('refreshToken')
					console.log(user)
					pending.value.login = true
					try {
						instance.defaults.headers.common['Access-Token'] = '';
						const data = await instance.post('mobile/v7/authorizations/bycredentials', {
							"password": user.pass,
							"scope": "commoninfo,friendsandrelatives,educationalinfo",
							"clientId": cId.value,
							"clientSecret": cSecret.value,
							"username": user.login
						})

						pending.value.login = false

						let userObj = {
							access: data.data.credentials.accessToken,
							exp: data.data.credentials.expiresDate,
						};
						instance.defaults.headers.common['Access-Token'] = userObj.access;
						const userInfo = await getUserInfo(data.data.credentials.userId);
						if (userInfo) {
							const userInUsers = findUser(user.login)
							Object.assign(userInUsers, userObj)
							console.log('users.value', users.value)
							storageUsers();
							addUserDialog.value = false
							callback && callback();

						}
					} catch (error) {
						if (error.response) {
							pending.value.login = false
							console.log(error.response.data.description);
						}
					}
				}
				const getUsers = async () => {
					let usersFromStorage = JSON.parse(localStorage.getItem('users'));
					usersFromStorage && (users.value = usersFromStorage);

					console.log('users', users.value)

				}
				const selectUser = async (index) => {
					console.log('selectUser', users.value[index])

					selectedUser.value = users.value[index]
					instance.defaults.headers.common['Access-Token'] = selectedUser.value.access;
					if (dayjs(selectedUser.value.exp) < dayjs(Date.now())) {
						refreshToken(selectedUser.value);
					}
					monday.value = getMonday(new Date());
				}
				const getUserInfo = async (id) => {
					pending.value.userInfo = true
					try {
						const data = await instance.get(`/v2/users/${id}/context`)

						pending.value.userInfo = false
						console.log('data', data.data)
						return data.data
						callback && callback();

					} catch (error) {
						if (error.response) {
							pending.value.userInfo = false
							console.log(error.response.data.description);
						}
						return false;
					}
				}
				const findUser = (login) => {
					return users.value.find(user => user.login === login);
				}
				const getHomeworks = async (startDate, endDate) => {
					console.log('get homeworks');
					pending.value.homeworks = true;
					try {
						const data = await instance.get(`/v2/users/me/school/${selectedUser.value.schoolIds[0]}/homeworks`, {
							params: {
								startDate:dayjs(startDate).format('YYYY-MM-DD'),
								endDate:dayjs(endDate).format('YYYY-MM-DD')
							}
						})
						pending.value.homeworks = false
						console.log('homeworksData', data)
						homeworksData.value = data.data
						
					} catch (error) {
						console.log(error)
						if (error.response) {
							pending.value.homeworks = false
							console.log(error.response.data.description);
						}
					}
				}
				const getShedule = async (startDate, endDate) => {
					console.log('get shedule');
					pending.value.shedule = true;
					try {
						const data = await instance.get(`/v2/persons/${selectedUser.value.personId}/groups/${selectedUser.value.eduGroups[0].id_str}/schedules`, {
							params: {
								startDate:dayjs(startDate).format('YYYY-MM-DD'),
								endDate:dayjs(endDate).format('YYYY-MM-DD')
							}
						})
						pending.value.shedule = false
						console.log('sheduleData', data)
						sheduleData.value = data.data
					} catch (error) {
						console.log(error)
						if (error.response) {
							pending.value.shedule = false
							console.log(error.response.data.description);
						}
					}
				}
				
				const getCurrentWeek = () => {
					const days = [6, 0, 1, 2, 3, 4, 5];
					let date = new Date();
					let day = days[date.getDay()];
					//let dayNum = day ? day - 1 : 6;
					let startDate = new Date();
					startDate = dayjs(startDate).subtract(day, 'day').toDate();
					let endDate = new Date();
					endDate=dayjs(startDate).add(6, 'day').toDate();
					return [startDate, endDate];
				}
				const getMonday = (date) => {
					const days = [6, 0, 1, 2, 3, 4, 5];
					let day = days[date.getDay()];
					return dayjs(date).subtract(day, 'day').toDate();
				}
				const getDatesRange = (startDate, endDate) => {
					let dates = [];
					let date = new Date(startDate);
					while (date <= endDate) {
						dates.push(new Date(date));
						date.setDate(date.getDate() + 1);
					}
					return dates;
				}
				const getSubjectName = (subjects, id) => {
					return subjects.find(subject => subject.id === id).name
				}
				const getHomeWorksBySubjectAndDate = (id, date) => {
					return homeworksData.value.works.filter(work => {
						return work.subjectId === id && dayjs(work.targetDate).isSame(date, 'day')
					}).map(work => {
						const homework = {}
						if(work.files) {
							homework.files = getFiles(work.files)
						}
						homework.text = work.text
						return homework
					})
					return homeworks;
				}
				const getWorks = (works) => {
					return works.map(work => getWork(work).text)
				}
				const getWork = (work) => {
					return homeworksData.value.works.find(w => w.id === work)
				}
				const getFiles = (array) => {
					return array.map(file => getFile(file))
					
				}
				const getFile = (id) => {
					return homeworksData.value.files.find(file => file.id === id)
				}
				const formatDate = (date, withDayOfWeek) => {
					return dayjs(date).locale('ru').format(withDayOfWeek?'DD.MM.YYYY (dddd)':'DD.MM.YYYY')
				}
				const changeMonday = (backward) => {
					const mon = dayjs(monday.value);
					monday.value = backward?mon.subtract(7, 'day').toDate():mon.add(7, 'day').toDate();
				}
				const nextWeek = () => {
					changeMonday(false);
				}
				const prevWeek = () => {
					changeMonday(true);
				}
				onBeforeMount(async () => {
					
				})
				onMounted(async () => {
					console.log('dayjs ', dayjs().format())
					
					await getUsers()
					if (users.value.length > 0) {
						const lastSelected = await getLastSelected();
						if (lastSelected) {
							const lastSelectedUser = findUser(lastSelected);
							if (lastSelectedUser) {
								selectedUser.value = lastSelectedUser
							} else {
								selectUser(0);
							}
						} else {
							selectUser(0);
						}
					}
				})
				watch(monday, async () => {
					if(selectedUser.value) {
						await getHomeworks(...week.value);
						await getShedule(...week.value);
					}
					//getUserInfo();
				})
				return {
					date,
					cId,
					cSecret,
					login,
					pass,
					errors,
					getTokens,
					pending,
					users,
					selectUser,
					addUserDialog,
					selectedUser,
					user,
					formatDate,
					week,
					prevWeek,
					nextWeek,
					sheduleData,
					getSubjectName,
					shedule,
					summ,
					hasBadMark
				};
			},
		});

		app.use(PrimeVue.Config, {
			theme: {
				preset: PrimeVue.Themes.Aura
			}
		});

		app.component('p-inputtext', PrimeVue.InputText)
			.component('p-button', PrimeVue.Button)
			.component('p-dialog', PrimeVue.Dialog)
			.component('p-password', PrimeVue.Password)
			.component('p-tabs', PrimeVue.Tabs)
			.component('p-tablist', PrimeVue.TabList)
			.component('p-tab', PrimeVue.Tab)
			.component('p-card', PrimeVue.Card)
			.component('p-badge', PrimeVue.Badge)
			.component('p-message', PrimeVue.Message);

		app.mount('#app');
	</script>
</body>

</html>
