<!DOCTYPE html>
<html lang="en">

<head>
	<title>Кунделик</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
</head>

<body>
	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/dayjs@1/locale/ru.js"></script>
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.tailwindcss.com"></script>
	<script src="https://unpkg.com/primevue/umd/primevue.min.js"></script>
	<script src="https://unpkg.com/@primevue/themes/umd/aura.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/primeicons/7.0.0/primeicons.min.css" integrity="sha512-AmPkAwXBnEkMWvc+V9PvjVgFmJWB3HKMSgBJolV4LMXwAwoFTAlk5WY1yiz504VynFGQLwiLVp/JqlcWxAEmJw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<div id="app">
		<div class="flex items-center px-1 w-full">
			<p-button @click="addUserDialog = true" icon="pi pi-plus" rounded class="flex-none"></p-button>
			<p-tabs :value="0" scrollable style="width: calc(100% - 40px);">
				<p-tablist>
					<p-tab v-for="(user, index) in users" :key="'users-'+index" :value="index" @click="selectUser(index)">
						{{ user.shortName}}, {{user.eduGroups[0].name }}
					</p-tab>
				</p-tablist>
			</p-tabs>
		</div>
		
		<hr class="mb-1">
		<div class="flex px-4">
			<div class="mr-auto">
				<template v-if="pending.login">привзяка ученика...</template>
				<template v-if="pending.userInfo">получение информации об ученике...</template>
				<template v-if="pending.shedule">получение расписания...</template>
			</div>
			<div class="ml-auto">
				<p-button icon="pi pi-arrow-left" severity="secondary" size="small" @click="prevWeek()"></p-button>
				{{formatDate(week[0])}} - {{formatDate(week[1])}}
				<p-button icon="pi pi-arrow-right" severity="secondary" size="small" @click="nextWeek()"></p-button>
			</div>
		</div>
		<hr class="mt-1 mb-4">
		
		<template v-if="selectedUser">
			
			
			<div v-if="homeworks">
				<swiper-container slides-per-view="auto" space-between="30" free-mode-enabled="true" free-mode-sticky="true" >
					<swiper-slide v-for="(homework, index) in homeworks" :key="'homeworks-'+index" class="w-auto h-auto">
						<p-card class="w-72 h-full">
							<template #content>
								{{formatDate(homework.date, true)}}
								<br>
								<div >
									<div v-for="(lesson, index) in homework.lessons" :key="'lesson-'+index" class="mb-3">
										<div v-if="lesson">
											<strong>{{index + 1}}. {{lesson.name}}</strong> 
											<div class="text-xs">{{lesson.theme}}</div>
											<div v-if="lesson.works" class="bg-gray-100">
												<p v-for="(work, index) in lesson.works" :key="'work-'+index" class="p-1 mb-1">{{work}}</p>
											</div>
										</div>
									</div>
								</div>
							</template>
						</p-card>
					</swiper-slide>
				</swiper-container>
				
			</div>
		</template>
		<p-dialog v-model:visible="addUserDialog" modal header="Добавить ученика" :style="{ width: '25rem' }">
			<div class="flex items-center gap-4 mb-8">
				<label for="login" class="font-semibold w-24">Логин</label>
				<p-inputtext v-model="login" id="login" class="flex-auto" autocomplete="on" />
			</div>
			<div class="flex items-center gap-4 mb-8">
				<label for="password" class="font-semibold w-24">Пароль</label>
				<p-password v-model="pass" id="password" toggle-mask :feedback="false" class="flex-auto" />
			</div>
			<div class="flex justify-end gap-2">
				<p-button label="Добавить" @click="getTokens()"></p-button>
				<p-button type="button" label="Отмена" @click="addUserDialog = false"></p-button>
			</div>
		</p-dialog>
	</div>

	<script>
		
		const {
			createApp,
			ref,
			onMounted,
			onBeforeMount,
			watch,
			computed
		} = Vue;

		const app = createApp({
			setup() {
				const date = ref();
				const selectedUser = ref();
				const user = ref();
				const cId = ref('387D44E3-E0C9-4265-A9E4-A4CAAAD5111C');
				const cSecret = ref('8A7D709C-FDBB-4047-B0EA-8947AFE89D67');
				const login = ref();
				const pass = ref();
				const users = ref([]);
				const pending = ref({
					login: false,
					userInfo: false,
					homeworks: false
				});
				const homeworksData= ref(null);
				const marksData = ref(null);
				const sheduleData = ref(null);
				//const homeworks = ref([]);
				const monday = ref(null);
				const addUserDialog = ref(false);
				const week = computed(() => {
					if(monday.value === null) return [];
					return [monday.value, dayjs(monday.value).add(6, 'day').toDate()]
				})
				const homeworks = computed(() => {
					if(homeworksData.value === null) return [];
					let homeworks = [];
					//const week = getWeek();
					const range = getDatesRange(week.value[0], week.value[1]);
					const length = range.length;
					for (let i = 0; i < length; i++) {
						homeworks[i] = {};
						homeworks[i].date = range[i];
						homeworks[i].lessons = [];
					}
					
					homeworksData.value.lessons.forEach(lesson => {
						const date = dayjs(lesson.date);
						const homework = homeworks.find(work => {
							return date.isSame(work.date, 'day')
						})
						if(homework){
							homework.lessons[lesson.number] = {
								name:getSubjectName(lesson.subjectId),
								theme:lesson.title,
								works:getWorks(lesson.works)
							};
						}
					})
					console.log('homeworks',homeworks)
					return homeworks
				})

				const instance = axios.create({
					baseURL: 'https://api.kundelik.kz/'
				});
				const storageUsers = () => {
					console.log('users', users.value)
					localStorage.setItem('users', JSON.stringify(users.value));
				}
				const storageLastSelected = () => {
					localStorage.setItem('lastSelected', JSON.stringify(selectedUser.value.login));
				}
				const getLastSelected = async () => {
					return JSON.parse(localStorage.getItem('lastSelected'));
				}
				const getTokens = async (callback) => {
					if (users && findUser(login.value)) {
						addUserDialog.value = false
						return
					}
					pending.value.login = true
					try {
						instance.defaults.headers.common['Access-Token'] = '';
						const data = await instance.post('mobile/v7/authorizations/bycredentials', {
							"password": pass.value,
							"scope": "commoninfo,friendsandrelatives,educationalinfo",
							"clientId": cId.value,
							"clientSecret": cSecret.value,
							"username": login.value
						})

						pending.value.login = false
						let userObj = {
							login: login.value,
							pass: pass.value,
							access: data.data.credentials.accessToken,
							//refresh: data.data.credentials.refreshToken,
							exp: data.data.credentials.expiresDate,
							id: data.data.credentials.userId
						};
						/*users.value.push({
							login: login.value,
							access: data.data.credentials.accessToken,
							refresh: data.data.credentials.refreshToken,
							exp: data.data.credentials.expiresDate,
							id: data.data.credentials.userId
						})*/
						console.log('user', userObj)
						instance.defaults.headers.common['Access-Token'] = userObj.access;
						const userInfo = await getUserInfo(userObj.id);
						if (userInfo) {
							console.log('userInfo', userInfo)
							users.value.push(Object.assign(userObj, userInfo))
							console.log('users.value', users.value)
							storageUsers();
							addUserDialog.value = false
							callback && callback();

						}


					} catch (error) {
						if (error.response) {
							pending.value.login = false
							console.log(error.response.data.description);
						}
					}
				}
				const refreshToken = async (user) => {
					console.log('refreshToken')
					console.log(user)
					pending.value.login = true
					try {
						instance.defaults.headers.common['Access-Token'] = '';
						const data = await instance.post('mobile/v7/authorizations/bycredentials', {
							"password": user.pass,
							"scope": "commoninfo,friendsandrelatives,educationalinfo",
							"clientId": cId.value,
							"clientSecret": cSecret.value,
							"username": user.login
						})

						pending.value.login = false

						let userObj = {
							access: data.data.credentials.accessToken,
							exp: data.data.credentials.expiresDate,
						};
						instance.defaults.headers.common['Access-Token'] = userObj.access;
						const userInfo = await getUserInfo(data.data.credentials.userId);
						if (userInfo) {
							const userInUsers = findUser(user.login)
							//console.log('userInfo', userInfo)
							Object.assign(userInUsers, userObj)
							console.log('users.value', users.value)
							storageUsers();
							addUserDialog.value = false
							callback && callback();

						}
					} catch (error) {
						if (error.response) {
							pending.value.login = false
							console.log(error.response.data.description);
						}
					}
				}
				const getUsers = async () => {
					let usersFromStorage = JSON.parse(localStorage.getItem('users'));
					usersFromStorage && (users.value = usersFromStorage);

					console.log('users', users.value)

				}
				const selectUser = async (index) => {
					console.log('selectUser', users.value[index])

					selectedUser.value = users.value[index]
					instance.defaults.headers.common['Access-Token'] = selectedUser.value.access;
					if (dayjs(selectedUser.value.exp) < dayjs(Date.now())) {
						refreshToken(selectedUser.value);
					}
					monday.value = getMonday(new Date());
					//homeworks.value = await getHomeworks(...getWeek());
				}
				const getUserInfo = async (id) => {
					pending.value.userInfo = true
					try {
						const data = await instance.get(`/v2/users/${id}/context`)

						pending.value.userInfo = false
						//this.config = data.data
						console.log('data', data.data)
						return data.data
						//user.value = data.data.contextPersons[0]
						callback && callback();

					} catch (error) {
						if (error.response) {
							pending.value.userInfo = false
							console.log(error.response.data.description);
						}
						return false;
					}
				}
				const findUser = (login) => {
					return users.value.find(user => user.login === login);
				}
				const getHomeworks = async (startDate, endDate) => {
					console.log('get homeworks');
					pending.value.homeworks = true;
					try {
						//const data = await instance.get(`/v2/persons/${selectedUser.value.personId}/groups/${selectedUser.value.eduGroups[0].id_str}/schedules`)
						const data = await instance.get(`/v2/users/me/school/${selectedUser.value.schoolIds[0]}/homeworks`, {
							params: {
								startDate:dayjs(startDate).format('YYYY-MM-DD'),
								endDate:dayjs(endDate).format('YYYY-MM-DD')
							}
						})
						pending.value.homeworks = false
						console.log('homeworksData', data)
						homeworksData.value = data.data
						//formatHomeworks(getDatesRange(startDate, endDate))
					} catch (error) {
						console.log(error)
						if (error.response) {
							pending.value.homeworks = false
							console.log(error.response.data.description);
						}
					}
				}
				const getMarks = async (startDate, endDate) => {
					console.log('get marks');
					pending.value.marks = true;
					try {
						const data = await instance.get(`/v2/persons/${selectedUser.value.personId}/schools/${selectedUser.value.schoolIds[0]}/marks/${dayjs(startDate).format('YYYY-MM-DD')}/${dayjs(endDate).format('YYYY-MM-DD')}`,)
						pending.value.marks = false
						console.log('marksData', data)
						marksData.value = data.data
						
					} catch (error) {
						console.log(error)
						if (error.response) {
							pending.value.marks = false
							console.log(error.response.data.description);
						}
					}
				}
				const getShedule = async (startDate, endDate) => {
					console.log('get shedule');
					pending.value.shedule = true;
					try {
						const data = await instance.get(`/v2/persons/${selectedUser.value.personId}/groups/${selectedUser.value.eduGroups[0].id_str}/schedules`, {
							params: {
								startDate:dayjs(startDate).format('YYYY-MM-DD'),
								endDate:dayjs(endDate).format('YYYY-MM-DD')
							}
						})
						pending.value.shedule = false
						console.log('sheduleData', data)
						sheduleData.value = data.data
					} catch (error) {
						console.log(error)
						if (error.response) {
							pending.value.shedule = false
							console.log(error.response.data.description);
						}
					}
				}
				/*const formatHomeworks = (range) => {
					if(!homeworks.value) return;
					const length = range.length;
					for (let i = 0; i < length; i++) {
						homeworks.value[i] = {};
						homeworks.value[i].date = range[i];
						homeworks.value[i].lessons = [];
					}
					console.log('homeworks',homeworks.value)
					homeworksData.value.lessons.forEach(lesson => {
						const date = dayjs(lesson.date);
						const homework = homeworks.value.find(work => {
							return date.isSame(work.date, 'day')
						})
						homework.lessons[lesson.number] = {
							name:getSubjectName(lesson.subjectId),
							theme:lesson.title,
							works:getWorks(lesson.works)
						};
					})
					console.log('homeworks',homeworks.value)
				}*/
				const getCurrentWeek = () => {
					const days = [6, 0, 1, 2, 3, 4, 5];
					let date = new Date();
					let day = days[date.getDay()];
					//let dayNum = day ? day - 1 : 6;
					let startDate = new Date();
					startDate = dayjs(startDate).subtract(day, 'day').toDate();
					let endDate = new Date();
					endDate=dayjs(startDate).add(6, 'day').toDate();
					return [startDate, endDate];
				}
				/*const getWeek = () => {
					return [monday.value, dayjs(monday.value).add(6, 'day').toDate()]
				}*/
				const getMonday = (date) => {
					const days = [6, 0, 1, 2, 3, 4, 5];
					let day = days[date.getDay()];
					return dayjs(date).subtract(day, 'day').toDate();
				}
				const getDatesRange = (startDate, endDate) => {
					let dates = [];
					let date = new Date(startDate);
					while (date <= endDate) {
						dates.push(new Date(date));
						date.setDate(date.getDate() + 1);
					}
					return dates;
				}
				const getSubjectName = (id) => {
					return homeworksData.value.subjects.find(subject => subject.id === id).name
				}
				const getWorks = (works) => {
					return works.map(work => getWork(work).text)
				}
				const getWork = (work) => {
					return homeworksData.value.works.find(w => w.id === work)
				}
				const formatDate = (date, withDayOfWeek) => {
					return dayjs(date).locale('ru').format(withDayOfWeek?'DD.MM.YYYY (dddd)':'DD.MM.YYYY')
				}
				const changeMonday = (backward) => {
					const mon = dayjs(monday.value);
					monday.value = backward?mon.subtract(7, 'day').toDate():mon.add(7, 'day').toDate();
				}
				const nextWeek = () => {
					changeMonday(false);
				}
				const prevWeek = () => {
					changeMonday(true);
				}
				onBeforeMount(async () => {
					
				})
				onMounted(async () => {
					console.log('dayjs ', dayjs().format())
					
					await getUsers()
					if (users.value) {
						const lastSelected = await getLastSelected();
						if (lastSelected) {
							const lastSelectedUser = findUser(lastSelected);
							if (lastSelectedUser) {
								selectedUser.value = lastSelectedUser
							} else {
								selectUser(0);
							}
						} else {
							selectUser(0);
						}
					}
				})
				watch(monday, async () => {
					if(selectedUser.value) {
						homeworks.value = await getHomeworks(...week.value);
						getMarks(...week.value)
						getShedule(...week.value)
					}
					//getUserInfo();
				})
				return {
					date,
					cId,
					cSecret,
					login,
					pass,
					getTokens,
					pending,
					users,
					selectUser,
					addUserDialog,
					selectedUser,
					user,
					homeworks,
					formatDate,
					week,
					prevWeek,
					nextWeek,
				};
			},
		});

		app.use(PrimeVue.Config, {
			theme: {
				preset: PrimeVue.Themes.Aura
			}
		});

		app.component('p-inputtext', PrimeVue.InputText)
			.component('p-button', PrimeVue.Button)
			.component('p-dialog', PrimeVue.Dialog)
			.component('p-password', PrimeVue.Password)
			.component('p-tabs', PrimeVue.Tabs)
			.component('p-tablist', PrimeVue.TabList)
			.component('p-tab', PrimeVue.Tab)
			.component('p-card', PrimeVue.Card);

		app.mount('#app');
	</script>
</body>

</html>
